#content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

button#viewer {
  padding: 10px 50px;
  font-size: 16px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: none;
  color: #fff;
  border: 1px solid #fff;
  transition: 300ms;
}

button#viewer:hover {
  background-color: #fff;
  color: #000;
}

.controls__buttons button {
  border: none;
  padding: 10px 50px;
  position: absolute;
  z-index: 2;
  bottom: 5%;
}

.controls__buttons button:nth-child(1) {
  left: 5%;
}

.controls__buttons button:nth-child(2) {
  left: 50%;
  transform: translateX(-50%);
}

.controls__buttons button:nth-child(3) {
  right: 5%;
}

@media screen and (max-width: 760px) {
  .controls__buttons button {
    bottom: 15%;
    left: 50% !important;
    transform: translateX(-50%);
  }
  .controls__buttons button:nth-child(2) {
    bottom: 5%;
  }
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes FadeOut {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}

.container__loading {
  transition: 1.5s;
  animation: FadeOut 1.5s forwards ease-in-out;
  display: flex;
}

.container__somaAngulosInternos .content,
.container__euler .content {
  height: 100%;
  width: 100%;
  padding: 0 5%;
  display: flex;
  align-items: end;
  padding-bottom: 10%;
  justify-content: right;
}

.container__euler .content {
  justify-content: space-between;
}

.container__euler .content .button {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 770px) {
  .container__somaAngulosInternos .content,
  .container__euler .content {
    justify-content: center;
  }

  .container__euler .content .button {
    gap: 20px;
  }

  .container__euler .content {
    padding-bottom: 20%;
  }

  .container__euler .content .button #viewer {
    font-size: 14px;
  }

  .container__diagonais {
    height: 100vh !important;
  }
}
