.handle__ex {
  border-radius: 10px;
  background: #d9d9d9;
  padding: 1% 5%;
  font-size: 18px;
  color: #000;
  letter-spacing: 10px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 300ms ease-in-out;
  border: none;
}

.handle__ex:hover {
  background-color: #000;
  color: #fff;
}

@media screen and (max-width: 770px) {
  .handle__ex {
    font-size: 14px;
    letter-spacing: 2px;
  }
}
