.container__what{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: right;
}

.container__what .text {
    width: 40%;
    margin-right: 5%;
}

.container__what .text h2 {
    margin-bottom: 40px;
}

@media screen and (max-width: 860px) {
    .container__what .text {
        width: 100%;
        padding: 0 2%;
    }
}