@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --azul-login: #003ecb;
  --cinza-input: #878787;
  --verde-alerta: #c7f9cc;
  --verde-alerta-2: #57cc99;
  --vermelho-alerta: #ffccd5;
  --vermelho-alerta-2: #ff0a54;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background-color: #0b0b0b;
  color: #fff;
}

.text h2 {
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 21.2px;
  text-transform: uppercase;
}

html,
body,
#root,
.trabalho__app,
.app {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Personalização para navegadores Webkit (Chrome e Safari) */
::-webkit-scrollbar {
  width: 9px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background-color: #4d4d4d; /* Cor da parte deslizante da barra */
  border-radius: 6px; /* Borda arredondada */
}

::-webkit-scrollbar-track {
  background-color: #252525; /* Cor da trilha da barra */
}

.title h2 {
  color: #fff;
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 16.96px;
  text-transform: uppercase;
  text-align: center;
}

.container__somaAngulosInternos,
.container__angulosExternos,
.container__euler,
.container__exercise {
  height: 100vh;
}

@media screen and (max-width: 500px) {
  .text h2,
  .title h2 {
    font-size: 25px;
  }

  .text p {
    font-size: 15px;
  }
}
